.block-task{
    width: 35%;
    margin: 5px auto;
    padding: 15px;
    text-align: left;

}

.inputt {
    height: 31px;
    width: 194%;
    padding-left: 10px;
}

p{
    margin: 0;
    display: inline-block;
}

.delete-btn {
    padding: 5px 10px;
    font-size: 19px;
    margin: 1px 15px 0 0;
    background-color: #ff0000;
    color: white;
    border: none;
    float: right;
}

.delete-btn:hover {
    background-color: rgba(255, 255, 255, .5);
    color: #ff0000;
    cursor: pointer;
    border: 1px solid #ff0000;
}