.main-block{
    height: 100px;
    padding-top: 50px;
}

.input {
    height: 31px;
    width: 29%;
    padding-left: 10px;
}

.btn {
    padding: 7px 20px;
    font-size: 16px;
    margin: 10px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
}

.btn:hover {
    border: 2px solid #0066FF;
    cursor: pointer;
    background-color: #fff;
    color: #0066FF;
}

h2 {
    margin-right: 26%;
}